// couleurs
$colors: (
  neutral: (
    "100": hsla(0, 0%, 100%, 1),
    "200": hsla(0, 0%, 96%, 1),
    "300": hsla(0, 0%, 88%, 1),
    "400": hsla(0, 0%, 74%, 1),
    "500": hsla(0, 0%, 62%, 1),
    "600": hsla(0, 0%, 46%, 1),
    "700": hsla(0, 0%, 38%, 1),
    "800": hsla(0, 0%, 26%, 1),
    "900": hsla(210, 50%, 21%, 1),
  ),

  primary: (
    "100": hsla(204, 100%, 95%, 1),
    "200": hsla(204, 89%, 86%, 1),
    "300": hsla(204, 82%, 75%, 1),
    "400": hsla(204, 77%, 67%, 1),
    "500": hsla(204, 90%, 63%, 1),
    "600": hsla(204, 100%, 50%, 1),
    "700": hsla(204, 85%, 51%, 1),
    "800": hsla(204, 72%, 47%, 1),
    "900": hsla(204, 79%, 43%, 1),
  ),

  secondary: (
    "100": hsla(340, 100%, 97%, 1),
    "200": hsla(340, 77%, 88%, 1),
    "300": hsla(340, 78%, 79%, 1),
    "400": hsla(340, 79%, 71%, 1),
    "500": hsla(340, 80%, 64%, 1),
    "600": hsla(340, 82%, 53%, 1),
    "700": hsla(340, 83%, 47%, 1),
    "800": hsla(340, 82%, 41%, 1),
    "900": hsla(340, 82%, 36%, 1),
  ),

  success: (
    "100": hsla(120, 50%, 93%, 1),
    "200": hsla(120, 39%, 83%, 1),
    "300": hsla(120, 33%, 73%, 1),
    "400": hsla(120, 37%, 64%, 1),
    "500": hsla(120, 39%, 60%, 1),
    "600": hsla(120, 39%, 53%, 1),
    "700": hsla(120, 43%, 47%, 1),
    "800": hsla(120, 50%, 39%, 1),
    "900": hsla(120, 55%, 31%, 1),
  ),

  warning: (
    "100": hsla(36, 100%, 93%, 1),
    "200": hsla(36, 100%, 83%, 1),
    "300": hsla(36, 100%, 73%, 1),
    "400": hsla(36, 100%, 67%, 1),
    "500": hsla(36, 100%, 63%, 1),
    "600": hsla(36, 100%, 50%, 1),
    "700": hsla(36, 100%, 47%, 1),
    "800": hsla(36, 100%, 43%, 1),
    "900": hsla(36, 100%, 39%, 1),
  ),

  danger: (
    "100": hsla(0, 100%, 97%, 1),
    "200": hsla(0, 100%, 88%, 1),
    "300": hsla(0, 83%, 77%, 1),
    "400": hsla(0, 71%, 65%, 1),
    "500": hsla(0, 79%, 63%, 1),
    "600": hsla(0, 83%, 58%, 1),
    "700": hsla(0, 79%, 55%, 1),
    "800": hsla(0, 79%, 51%, 1),
    "900": hsla(0, 79%, 45%, 1),
  ),
  opacity: (
    "100": hsla(0, 0%, 0%, 0.1),
    "200": hsla(0, 0%, 0%, 0.2),
    "300": hsla(0, 0%, 0%, 0.3),
    "400": hsla(0, 0%, 0%, 0.4),
    "500": hsla(0, 0%, 0%, 0.5),
    "600": hsla(0, 0%, 0%, 0.6),
    "700": hsla(0, 0%, 0%, 0.7),
    "800": hsla(0, 0%, 0%, 0.8),
    "900": hsla(0, 0%, 0%, 0.9),
    "1000": hsla(0, 0%, 0%, 1),
  ),
);
