// graisse de la police
$weight: 400, 700;

// taille de la police
$font-sizes: (
  "900": 3.75rem,
  "800": 3rem,
  "700": 1.6875rem,
  "600": 1.5rem,
  "500": 1.25rem,
  "400": 1.125rem,
  "300": 1rem,
  "200": 0.875rem,
  "100": 0.75rem,
);

// police
$lz-police: '"Open-Sans", sans-serif';
$lz-serif: '"Bellefair", serif';
$lz-sans-cond: '"Barlow-Condensed", sans-serif';
$lz-sans-normal: '"Barlow", sans-serif';
